* {
    margin: 0;
    padding: 0;
}

/* GLOBAL */
#roleTab {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: blue;
}

#role {
    width: 20%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#crewMembers {
    width: 80%;
    height: 100%;
    background-color: white;
}

/* ROLES */

#role h2 {
    padding: 16px 0;
    text-align: center;
}

#role button {
    border: none;
    padding: 16px;
}

#role button:hover {
    background-color: darkgrey;
}

#role button:focus {
    background-color: grey;
}

/* CREW */

#crewMembers h2 {
    padding: 16px 0;
    text-align: center;
}

.member {
    box-sizing: border-box;
    background-color: beige;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member img {
    width: 40px;
    height: 40px;
}

.member .member-about {
    display: flex;
}

.trait {
    border: solid black 1px;
    border-radius: 5px;
    width: auto;
    height: 18px;
    background-color: white;
    margin: 0px 5px 0px 0px;
    padding: 2px;
}

.namePtrait {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}

.traitBox {
    display: flex;
    flex-direction: row;
}

.member input[type="checkbox"] {
    display: block;
    width: 32px;
    height: 32px;
    align-items: center;
    margin: 0px 0px 0px 10px;
}

.endRowPerson {
    display: flex;
    flex-direction: row;
    align-items: center;
}