@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* GLOBAL TABS */
#roleTab {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: blue;
}

#role {
    width: 40%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
}

#crewMembers {
    width: 60%;
    height: 100%;
    background-color: pink;
    padding: 24px 32px;
}

/* ROLES */

h2 {
    text-transform: uppercase;
    letter-spacing: 8px;
    color: white;
}

#role button {
    border: none;
    padding: 16px;
    width: 12vh;
    height: 12vh;
}

#role button:hover {
    background-color: darkgrey;
}

#role button:focus {
    background-color: grey;
}

/* CREW */

/* SCROLLBAR */

::-webkit-scrollbar {
}


/* SELECT AND DESELECT BUTTONS */

#select-all, #deselect-all {
    padding: 8px;
    margin: 16px 8px 16px 0;
    border: 2px solid white;
    background-color: rgba(24, 24, 24, 0);
    border-radius: 50px;
    color: white;
    font-weight: 500;
}

#crewMembers p {
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 500;
    color: white;
}

.member {
    height: 72px;
    box-sizing: border-box;
    background-color: rgba(24, 24, 24, 0.3);
    padding: 20px 32px;
    margin: 0 40px 8px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inventory {
    box-sizing: border-box;
    background-color: gainsboro;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid DarkSlateGray;
}

.member img {
    width: 40px;
    height: 40px;
}

.member .member-about {
    display: flex;
}

.trait {
    width: auto;
    height: 16px;
    background-color: white;
    border-radius: 50px;
    margin: 0px 8px 0px 0px;
    padding: 8px 16px;
}

.namePtrait {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}

.traitBox {
    display: flex;
    flex-direction: row;
}

.member input[type="checkbox"] {
    display: block;
    width: 32px;
    height: 32px;
    align-items: center;
    margin: 0px 0px 0px 10px;
}

.endRowPerson {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#confirm {
  background-color: white;
  border-radius: 50px;
}


.active {
    background-color: grey;
}


/* INVENTORY THINGS */

.inventory {
    justify-content: space-evenly;
}

.inventory button {
    width: 32px;
    height: 32px;
}

.weaponEquipButton {
    width: 32px;
    height: 32px;
    margin: 0px 30px 0px 0px;
    background-color: grey;
}

.armorEquipButton {
    width: 32px;
    height: 32px;
    background-color: grey;
    margin: 0px 30px 0px 0px;
}

.itemGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}