@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
  background-image: url('https://cdn.britannica.com/86/115086-050-0C320EC1/Camel-caravan-Sahara-Morocco.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.dark-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(34,34,34,.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Number of turn text */
#turnX {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 8px;
}

/* Possible destinations text */
h1 {
  font-size: 40px;
  font-weight: 800;
}

/* Resources bar */
ul {
  display: flex;
  flex-direction: row;
}

/* Resources bar */
li {
  list-style-type: none ;
  padding: 16px;
  width: 100%;
  background-color: rgba(115, 115, 115, .3);
	display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.left-list {
  transform: skewX(30deg);
  margin-right: 8px;

}
.left-list p, .left-list i {
  transform: skewX(-30deg);
}
.center-list {
  background-color: #fff;
  clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 12% 100%);
}
#locationName {
  text-transform: uppercase;
  font-weight: 500;
  color: #222222;
}
.right-list {
  transform: skewX(-30deg);
  margin-left: 8px;
}
.right-list p, .right-list i {
  transform: skewX(30deg);
}


/* Image pas remplacée de la ressource bleue là */
/* ul li img{
  margin: 0px 0px 0px 0px;
  width: 40px;
  height: 40px;
align-content: center;
} */

/* ------ ??? ------ */
tr { display: block; float: left; align-content: center;}
th, td { display: block; align-content: center;}

div[id='top menu'] {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 5vh;
}
div[id='top menu'] h1 {
  margin: 0;
}
div[id='bottom menu'] {
  background: linear-gradient(to top, rgba(24,24,24,1), rgba(24,24,24,0.5), rgba(24,24,24,0));
  display: flex;
  flex-direction: row;
  height: 40vh;
}
div[id='middle menu'] {
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 56vh;
}

button {
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 8px;
  border: 1px solid white;
  border-radius: 50px;
  width: 256px;
  height: 48px;
}
div.buttons {
  display: flex;
  flex-direction: column;
  width: 8vw;
  background-color: rgba(0,0,0,0);
  justify-content: space-evenly;
  align-items: stretch;
}

button:hover {
  background-color: white;
  color: rgba(115, 115, 115, 1);
  transition: .3s ease;
}

div.strangeButton {
  height: 8vh;
  width: 8vh;
  margin: 0px 0px 0px 32px;
  background-color: rgba(115, 115, 115, .3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.strangeButton:hover {
  height: 9vh;
  width: 9vh;
  transition: .3s ease;
}

.bx-box, .bx-group, .bx-book-open {
  font-size: 24px;
  color: white;
}

.ressources {
  width: 100vw;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.smallerButton {
  width: 100px;
  border-radius: 5px;
}

#center-image {
  margin-top: 16px;
}

#actionMenu {
  width: 86vw;
  background-color: rgba(24, 24, 24, 0);
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
}

#actionMenu button {
  margin: 5px 15px 5px 15px;
}

#escapeBox img{
}

#escapeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  margin: 0px 0px 0px 0px;
  background-color: white;
}

#resolveButton {
  background-color: white;
  color: darkgrey;
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
  height: 25px;
}

#tempDiv {
  margin: 10px;
}
#tempDiv input {
  margin: 10px;
}

#horizonzalNode {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#yieldNode p {
	margin: 0px 10px 0px 10px;
}

/*adding inventory stuff*/
/*sets the inventory page as hidden, this status should change when the inventory
buttton is clicked*/
.hidden {
  display: none;
}
.visible{
  display: block;
}
/* Container for the entire inventory */
.inventory-container {
  height: 50vh !important;
  width: 92vw !important;
  overflow-y: auto !important;
  display: flex;
  flex-direction: column;
  gap: 1px; /* Gap between grid items */
  align-content:center;
  border-radius: 3px; /* Rounded border for the container */
  padding: 20px; /* Padding inside the container */
  justify-content: center;
  flex-wrap: wrap;
}

.basic-info {
  font-size: 13px; /* Use font-size for text size */
  text-align: center; 
  display: flex;
  position: absolute; /* Position relative to the inventory-item container */
  left: 35%; /* Adjust distance from the left as a percentage of the container's width */
  bottom: 5px;
}

.inventory-item {
  position: relative; /* Allows for the positioning of info image */
  display: flex;
  flex-direction: row; /* Display items in a row */
  align-items: center;
  width: 781px; /* Fixed width */
  height: 30px; /* Fixed height */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Rounded border for each item */
  overflow: hidden; /* Hide overflow content */
}

/* Item title styling */
.item-title {
  text-align: left;
  margin-left: 40px;
  color:black;
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Optionally make the font bold */
  margin-bottom: 0px; /* Space below the title */
}

/* General image styling within inventory-item */
.inventory-item img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin-right: 5px; /* Add space between the image and the next element */
}

/* Info image icon */
.info-img {
  position: absolute;
  right: 5%;
  max-width: 30px;
  max-height: 30px;
  cursor: pointer;
}

/* Extra information box */
.extra-info {
  display: none;
  position: absolute;
  bottom: 0; /* Position at the bottom */
  left: 0;
  width: 100%; /* Cover entire width of parent */
  padding: 10px;
  color: #0c0808;
  background-color: #b7b4b471;
  text-align: left;
  font-size: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(93, 93, 93, 0.236);  
}
/* everything below is for the box that popps up when u click info button*/

.modal {
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place within the inventory container */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%); /* Center the modal */
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Max width of the modal */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
  text-align: left;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  position: relative;
}

/* The Close Button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal title */
.modal-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #0c0808;
}

/* Modal body */
.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Modal text */
.modal-text {
  flex: 1;
  color: black;
  padding-right: 20px;
}

/* Modal image */
.modal-img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  margin-right: 20%;
}


.unitList {
  height: 65vh;
  width: 50vw;
}
.unitList table {
  display: flex;
  justify-content: center;
}
.unitCell {
  margin: 5px;
  display: flex;
  color: white;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.115);
  border-collapse:collapse
}
.unitCell img {
  width: 40px;
  height: 40px;
}
.armyRowCell {
  color: white;
}
.textTdDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* Background color based on item rarity */
.inventory-item.rarity-common {
  background-color: #867e7e4f; /* Light gray for common items */
}

.inventory-item.rarity-rare {
  background-color: #0e1df354; /* Light blue for rare items */
}

.inventory-item.rarity-legendary {
  background-color: #ffb30053; /* Gold for legendary items */
}

.inventory-item.rarity-epic {
  background-color: #5300a14f; /* Tomato red for epic items */
}

