@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
  background-image: url('https://cdn.britannica.com/86/115086-050-0C320EC1/Camel-caravan-Sahara-Morocco.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.dark-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(34,34,34,.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Number of turn text */
#turnX {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 8px;
}

/* Possible destinations text */
h1 {
  font-size: 40px;
  font-weight: 800;
}

/* Resources bar */
ul {
  display: flex;
  flex-direction: row;
}

/* Resources bar */
li {
  list-style-type: none ;
  padding: 16px;
  width: 100%;
  background-color: rgba(115, 115, 115, .3);
	display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.left-list {
  transform: skewX(30deg);
  margin-right: 8px;

}
.left-list p, .left-list i {
  transform: skewX(-30deg);
}
.center-list {
  background-color: #fff;
  clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 12% 100%);
}
#locationName {
  text-transform: uppercase;
  font-weight: 500;
  color: #222222;
}
.right-list {
  transform: skewX(-30deg);
  margin-left: 8px;
}
.right-list p, .right-list i {
  transform: skewX(30deg);
}


/* Image pas remplacée de la ressource bleue là */
/* ul li img{
  margin: 0px 0px 0px 0px;
  width: 40px;
  height: 40px;
align-content: center;
} */

/* ------ ??? ------ */
tr { display: block; float: left; align-content: center;}
th, td { display: block; align-content: center;}

div[id='top menu'] {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 5vh;
}
div[id='top menu'] h1 {
  margin: 0;
}
div[id='bottom menu'] {
  background: linear-gradient(to top, rgba(24,24,24,1), rgba(24,24,24,0.5), rgba(24,24,24,0));
  display: flex;
  flex-direction: row;
  height: 40vh;
}
div[id='middle menu'] {
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 56vh;
}

button {
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 8px;
  border: 1px solid white;
  border-radius: 50px;
  width: 256px;
  height: 48px;
}
div.buttons {
  display: flex;
  flex-direction: column;
  width: 8vw;
  background-color: rgba(0,0,0,0);
  justify-content: space-evenly;
  align-items: stretch;
}

button:hover {
  background-color: white;
  color: rgba(115, 115, 115, 1);
  transition: .3s ease;
}

div.strangeButton {
  height: 8vh;
  width: 8vh;
  margin: 0px 0px 0px 32px;
  background-color: rgba(115, 115, 115, .3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.strangeButton:hover {
  height: 9vh;
  width: 9vh;
  transition: .3s ease;
}

.bx-box, .bx-group, .bx-book-open {
  font-size: 24px;
  color: white;
}

.ressources {
  width: 100vw;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.smallerButton {
  width: 100px;
  border-radius: 5px;
}

#actionMenu {
  width: 86vw;
  background-color: rgba(24, 24, 24, 0);
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  border: 1px solid white;
}

#actionMenu button {
  margin: 5px 15px 5px 15px;
}

#escapeBox img{
}

#escapeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  margin: 0px 0px 0px 0px;
  background-color: white;
}

#resolveButton {
  background-color: white;
  color: darkgrey;
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
  height: 25px;
}

#tempDiv {
  margin: 10px;
}
#tempDiv input {
  margin: 10px;
}

#horizonzalNode {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#yieldNode p {
	margin: 0px 10px 0px 10px;
}

/*adding inventory stuff*/
/*sets the inventory page as hidden, this status should change when the inventory
buttton is clicked*/
.hidden {
  display: none;
}
.visible{
  display: block;
}
/* Container for the entire inventory */
.inventory-container {
  height: 57vh !important;
  width:92vw !important;
  overflow-y: auto !important;
  display: flex;
  gap: 5px; /* Gap between grid items */
  align-items: left;
  border-radius: 10px; /* Rounded border for the container */
  padding: 20px; /* Padding inside the container */
  background-color: #ffdd00; /* Light yellow background color */
  justify-items: center;
  flex-wrap:wrap ;
  /*try to make the inventory fit within the text area below the game*/
  
}

/* Individual item container */
.inventory-item {
  position: relative; /* allows for the positioning of info image */
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 72px; /* Set width to 192 pixels */
  height: 96px; /* Set height to 240 pixels */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Rounded border for each item */
  overflow: hidden; /* Hide overflow content */
  transition: transform 0.3s ease; /* Transition for hover effect */
}
/* Item title styling */
.item-title {
  text-align: center;
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: bold; /* Optionally make the font bold */
  margin-bottom: 25px; /* Space below the title */
}


/* General image styling within inventory-item */
.inventory-item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 5px;
}

/* Info image icon */
.info-img {
  position: absolute;
  bottom: 0%;
  right: 5%;
  /*The dimensions for the item img override the dims i set for the 
  info img. So I set a max size to get the desired dimensions this hurts me*/
  max-width: 15px;
  max-height: 15px;
  cursor: pointer;
}
/* Extra information box */
.extra-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%; /* Cover entire width of parent */
  height: 95%; /* Cover entire height of parent */
  padding: 10px;
  color: #0c0808;
  background-color: #b7b4b471;
  text-align: left;
  font-size: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(93, 93, 93, 0.236);
  
  
}

.unitList {
  height: 65vh;
  width: 50vw;
}
.unitCell {
  border: 1px solid black;
}
.armyRowCell {
  border: 1px solid black;
}


/* Background color based on item rarity */
.inventory-item.rarity-common {
  background-color: #867e7e; /* Light gray for common items */
}

.inventory-item.rarity-rare {
  background-color: #0e1df3; /* Light blue for rare items */
}

.inventory-item.rarity-legendary {
  background-color: #ffb300; /* Gold for legendary items */
}

.inventory-item.rarity-epic {
  background-color: #5300a1; /* Tomato red for epic items */
}

/*expands item box during hover*/
.inventory-item:hover {
  transform: scale(1.1); /* Scale up by 10% on hover */
}
