.all{
    display: flex;
    flex-direction: row;
    position: relative; 
}


.you{
    background-color: whitesmoke;
    height: 100%;
    width: 50%;
    border-right: 2px black solid;
    
}

.buyer{
    background-color: whitesmoke;
    height: 100%;
    width: 50%;
    
}

.nameYou, .nameBuyer{
    height: 5%;
    text-align: center;
    
}

.BigItem{
    display: flex;
    flex-direction: row;
    height: 11vh;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 15%;
    border-bottom: 2px brown solid;
    
}


img{
    height: 50px;
    width: 30px;
    
    margin: 5% 0 0 47%;
   
}

.container, .containerMagasin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#generate{
    position: absolute;
    top: 100%;
    left: 45%;
    width: 10%;
    height: 10%;
    
    text-align: center;
    
}

#final{
    position: absolute;
    top: 110%;
    left: 45%;
    width: 10%;
    height: 10%;
    
    text-align: center;
    
}

.BigItem div{
    padding: 5% 8% 10% 0;
}



.quantité0, .quantité1, .quantité2, .Mquantité0, .Mquantité1, .Mquantité2{
    margin: 10% 0 0 0;
}

input{
    margin: 0 0 0 5%;
}

.name{
    margin-left: 10%;
    font-size: 20px;
}

h1{
    margin-bottom: 5%;
}

#transa, #res{
    background-color: white;
    font-size: 20px;

}
