.all{
    display: flex;
    flex-direction: row;
    position: relative; 
}


.you{
    background-color: white;
    height: 100%;
    width: 50%;
    border-right: 2px black solid;
    
}

.buyer{
    background-color: white;
    height: 100%;
    width: 50%;
    
}

.nameYou, .nameBuyer{
    height: 5%;
    text-align: center;
    
}

.BigItem{
    display: flex;
    flex-direction: row;
    height: 11vh;
    width: 100%;
    background-color: beige;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 15%;
    border-bottom: 2px brown solid;
    
    
}


img{
    height: 50px;
    width: 30px;
    
    margin: 5% 0 0 47%;
   
}

.container, .containerMagasin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#generate{
 
    position: absolute;
    top: 60%;
    left: 45%;
    width: 10%;
    height: 10%;
    
    text-align: center;
    
}

#final{
    position: absolute;
    top: 110%;
    left: 45%;
    width: 10%;
    height: 10%;
    color: white;
    text-align: center;
    
}

.BigItem div{
    padding: 5% 8% 10% 0;
}



.quantité0, .quantité1, .quantité2, .Mquantité0, .Mquantité1, .Mquantité2{
    margin: 10% 0 0 0;
}

input{
    margin: 0 0 0 5%;
    height: 3vh;
    font-size: 13px;
}

.name{
    margin-left: 10%;
    font-size: 20px;
}

h1{
    margin-bottom: 5%;
}

#transa, #res{
    background-color: beige;
    font-size: 20px;

}

#triangle {
    width: 0;
    height: 0;
    border: solid 15px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    top: 110%;
    left: 40%;

}

#res {
    background-color: brown;
    font-size: 25px;
}

#recap {
    display: none;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 10%;
    left: 25%;
    background-color: white;
    text-align: center;
    border: 2px brown solid;
}

#compute{
    position: absolute;
    top: 120%;
    left: 45%;
    width: 10%;
    height: 5%;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  
}

#compute:hover{
    background-color: grey;
}

.bottom{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 80%;
    left: 25%;
}

#terminer, #continue {
    width: 65%;
    height: 15%;
    font-size: 15px;
    margin: 5% 55% 0 0;
}
