@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.dark-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 40, 40, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    background-image: url('../../Images/ancient-egypt-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.all{
    display: flex;
    flex-direction: row;
    position: relative; 
}


.you{
    height: 100%;
    width: 50%;
 
    
}

.buyer{
    height: 100%;
    width: 50%;

    
}

.nameYou, .nameBuyer{
    height: 5%;
    text-align: center;
    color: white;
    
}

.BigItem{
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100%;
    background-color: rgba(115, 115, 115, 0.3);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    color: white
    
}


img{
    height: 50px;
    width: 30px;
    margin: 0 2% 0 2%;
   
}

.container, .containerMagasin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#generate{
 
    position: absolute;
    top: 60%;
    left: 45%;
    width: 10%;
    height: 10%;
    
    text-align: center;
    
}

#final{
    position: absolute;
    top: 110%;
    left: 45%;
    width: 10%;
    height: 10%;
    color: white;
    text-align: center;
    
}


.quantité0, .quantité1, .quantité2, .Mquantité0, .Mquantité1, .Mquantité2{
    margin: 10% 0 0 0;
}

input{
    min-height: 10px;
    width: 50px;
    height: 2vh;
    font-size: 13px;
}

.name{
    font-size: 20px;
}

h1{
    margin-bottom: 5%;
}

#transa, #res{

    font-size: 20px;

}


#triangle {
    width: 0;
    height: 0;
    border: solid 15px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    top: 110%;
    left: 40%;

}

#res {
    background-color: white;
    font-size: 25px;
    color: black;

}

#recap {
    display: none;
    position: absolute;
    width: 50%;
    height: 50vh;
    top: 10%;
    left: 25%;
    background-color:white;
    text-align: center;


}

#compute{
    position: absolute;
    top: 55vh;
    width: 10%;
    height: 5%;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  
}

#compute:hover{
    background-color: grey;
}


#terminer {
    font-family: 'Poppins', sans-serif;
    width: 65%;
    height: 15%;
    font-size: 15px;
    position: absolute;
    top: 80%;
    left: 17%;
    
}

/* #continue{ */
    /* margin-left: 120%; */
/* } */


